html{
	height: 100%;
	margin: 0;
	/*высота и размещение*/
}

body{
	height: 100%;
	width: 100%;
	background-color: #2B1C1C;
	margin: 0;
	display: flex;
	/*выравнивание в ряд и по центру*/
	flex-direction: row;
	justify-content: center;
	/*Перпендикулярно ряду*/
	align-items: center;
}
/*граница игрового поля*/
canvas{
	border: 1px solid white;
	background-color: black;
	display: block;
}
/* подравняем кнопки */
#buttons_list{
	margin-left: 20px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 705px;
	margin-bottom: 10px;
	max-height: 715px;
}

#buttons_color{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttons_settings{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#button_manual{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* выставим одинаковый размер */
.buttons{
	width: 90px;
}
/* при наведении показывается рамка */
.buttons:hover{
	border: 2px solid #1900ff;
}
/* стиль текста на странице */
.text{
	font-size: 20px;
	margin-bottom: 0px;
	color: white;
	font-weight: bolder;
}
/* стиль картинки (мануала) */
img{
	width: 800px;
	height: 450px;
	position: absolute;
	bottom: 80px;
	right: 200px;
	visibility: hidden;
}

