html{
	height: 100%;
	margin: 0;
	/*высота и размещение*/
}

body{
	height: 100%;
	width: 100%;
	background-color: #270046;
	margin: 0;
	display: flex;
	/*выравнивание в ряд и по центру*/
	flex-direction: row;
	justify-content: center;
	/*Перпендикулярно ряду*/
	align-items: center;
}

/*граница игрового поля*/
canvas{
	border: 1px solid white;
	background-color: black;
	display: block;
}

/* подравняем кнопки */
#buttons_list{
	margin-left: 20px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 705px;
	margin-bottom: 10px;
	max-height: 715px;
}

#buttons_color{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttons_settings{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#button_manual{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* выставим одинаковый размер */
.buttons{
	width: 90px;
	height: 30px;
	border: none;
	background-color: seashell;
	border-radius: 10px;
	cursor: pointer;
}

.buttons:active, .buttons:focus{
	outline: none;
}

/* при наведении показывается рамка */
.buttons:hover{
	background-color: wheat;
	transform: scale(1.2);
}

/* по нажатии */
.buttons:active{
	background-color: red;
}

/* стиль текста на странице */
.text{
	font-size: 20px;
	margin-bottom: 0px;
	color: white;
	font-weight: bolder;
}

/* стиль картинки (мануала) */
#image1, #image2 {
	width: 800px;
	height: 450px;
	position: absolute;
	bottom: 140px;
	right: 360px;
	display: none;
	animation: zoom 1s;
}

/* новый вид мануала и правил игры */
.background{
	display: none;
	width:100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.9);
}

/* Закрытие картинок*/
#close1, #close2{
   display: block;
   font-size: 50px;
   font-weight: bolder;
   color: ivory; 
   position: absolute;
   bottom: 555px;
   left: 1200px; 
   cursor: pointer;
   animation: zoom 1s;
}

#close1, #close2:hover{ 
    opacity: 0.5;
}

/* анимация показа картинок */
@keyframes zoom{
	from{transform: scale(0)}
	to{transform: scale(1);}
}
